.container{
  overflow: hidden;

   
}
.row {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 2em;
    animation: slide 40s linear infinite;   
  }

  .eachTech {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & p {
      margin-top: -10px;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      font-size: 20px;
      background-image: linear-gradient(
        to right,
        #8f5fd5,
        #7b6ad4,
        #7074cf,
        #6579d2,
        #4d89d0,
        #4090cd,
        #22a2c9,
        #14aac5
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .iconWrapper {
      font-size: 100px;
      color: rgb(187, 170, 170);
      opacity: 0.5;
    }
  }


  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }




@media (min-width:745px) and (max-width:1440px) {
  .container{
    text-align: center;
   }
  .row{
    animation: slide 40s linear infinite;  
    gap: 2rem;
  }
  .iconWrapper{
    svg{
      font-size: 45px;
    }
}}

@media (min-width:500px) and (max-width:744px) {
  .container{
    text-align: center;
   }
  .row{
    animation: slide 20s linear infinite;  
    gap: 1rem;
  }
  .iconWrapper{
    svg{
      font-size: 30px;
    }
}}

@media (min-width:320px) and (max-width:499px) {
  .container{
   text-align: center;
  }
  .row{
    animation: slide 20s linear infinite;  
    gap: 2rem;
  }
  .iconWrapper{
    svg{
      font-size: 30px;
    }
}}