.btn {
    background: linear-gradient(
      to right,
      #8f5fd5,
      #7b6ad4,
      #7074cf,
      #6579d2,
      #4d89d0,
      #4090cd,
      #22a2c9,
      #14aac5
    );
    padding: 0.9em 2em;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 4px 74px -7px rgba(22,170,196,0.57);
    -webkit-box-shadow: 1px 4px 74px -7px rgba(22,170,196,0.57);
    -moz-box-shadow: 1px 4px 74px -7px rgba(22,170,196,0.57);
    outline: none;
  }

  @media (min-width:745px) and (max-width:1440px) {
   .btn{
    padding:  0.7em;
   }
  }
  @media (min-width:500px) and (max-width:744px) {
   .btn{
    padding:  1em;
   }
  }
  @media (min-width:401px) and (max-width:499px) {
   .btn{
    padding: 0.8em;
   }
  }
  @media (min-width:320px) and (max-width:400px) {
   .btn{
    padding: 0.1em;
    width: 100px;
    height: 30px;
   }
  }