.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-top: 1.5em;

  h2 {
    font-size: 30px;
  }

  ul {
    display: flex;
    gap: 7rem;
    list-style: none;

    .li {
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      color: #d0d2d2;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: white;
      }
    }
  }
  .social {
    display: flex;
    gap: 1rem;
    a {
      font-size: 30px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #d0d2d2;
      }
    }
  }
}



@media (min-width: 745px) and (max-width: 1440px) {
  .container {
  margin-left: -2rem;
    ul{
     gap: 4rem;
     margin-left: 3rem;
     align-items: center;
    
     .li{
      font-size: 18px;
      
     }
    }
   .social{
    margin-left: 3rem;
    a{
      font-size: 30px;
    }
   }
  }
}
@media (min-width: 320px) and (max-width: 744px) {
  .container {
   .social{
    a{
      font-size: 20px;
    }
   }
  }
}
