.container {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 0.2fr);
      gap: 1rem;
      font-weight: bold;
      font-size: 20px;
      list-style: none;
    }
    li {
      display: flex;
      align-items: center;
    }
  
    li::before {
      content: "\2022";
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background: linear-gradient(
        to right,
        #8f5fd5,
        #7b6ad4,
        #7074cf,
        #6579d2,
        #4d89d0,
        #4090cd,
        #22a2c9,
        #14aac5
      );
      color: transparent;
      font-weight: bold;
      margin-right: 1em;
      margin-top: -0.2rem;
    }
  }