$bodyBackgroundColor: #0f1724;
$h1h2liscolor: #d0d2d2;
$scrollbarTrackColor: #0f1724;
$scrollbarThumbColor: #5188c2;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bodyBackgroundColor;
  min-width: 320px;
}

.container {
  width: 80%;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1,
h2,
li {
  color: $h1h2liscolor;
}

ul li {
  margin-left: -2.2rem;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #1c2021 $scrollbarTrackColor;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: $scrollbarTrackColor;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid $scrollbarThumbColor;
}


